<ion-header #head no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="" *ngIf="!isSearchOpened"></ion-back-button>
    </ion-buttons>

    <ion-title text-center *ngIf="!isSearchOpened">List-Asist    ({{countList}}) </ion-title>


    <ion-searchbar #search *ngIf="isSearchOpened" showCancelButton="always" debounce="1000"
    (ionCancel)="closeSearchBar($event)" [(ngModel)]="inputSearchText" (ionChange)="inputSearchChanged($event)"
    placeholder="Ingrese Busqueda.." type="text" animated="true"></ion-searchbar>

    <ion-buttons slot="end">
        <ion-button *ngIf="!isSearchOpened" (click)="showSearchBar($event)">
          <ion-icon slot="end" name="search"></ion-icon>
        </ion-button>
        <!-- <ion-button *ngIf="!isSearchOpened" (click)="datePicker.open()">
            <ion-icon slot="end" name="calendar"></ion-icon>
          </ion-button> -->
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="head">
 
    <app-datetime (emitChangeDate)='eventChangeDate($event);'>
      </app-datetime>


      <app-group-employees (emitChangeGroup)="groupChange($event)" (emitSendIdDefault)="getIdGroupDefault($event)"
      showAllOpcion={{sendShowAllGroup}}>
  
    </app-group-employees>
    
    <ion-list>
        <ion-item button *ngFor="let item of (dataShow | async ) "  (click)="itemSelected(item)" detail>
          <ion-avatar class="item-avatar" slot="start">
            <!-- <img src="assets/img/users.png" style="width: 60px; height: 60px;"> -->
            <img [src]="item.imgSanitizer">
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                <ion-row>
                  <ion-col size="12">
                    <ion-label> {{item.nickName | capitalize}}</ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>
                      <p>{{item.name | capitalize}}</p>
                    </ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-row>
                      <ion-col text-start size="9">
                        <ion-label><ion-badge color="light">{{item.nameOccupation}}</ion-badge> </ion-label>                  
                      </ion-col>
                      <ion-col  size="3">
                        <ion-badge text-center color="medium">
                          <ion-icon name="contacts"></ion-icon> {{item.nameGroup}}
                        </ion-badge>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="3">
                <ion-row>
                  <ion-col size="12">
                    <ion-badge color="primary">{{item.ListGroup.length}}
                      <ion-icon name="alarm"></ion-icon>
                    </ion-badge>
                  </ion-col>
                  <ion-col text-center size="12">
                    <ion-label>
                      <ion-img float-right style="width: 18px; height: 18px;" *ngIf="!item.validado; else notValidate"
                        src="assets/img/xred.png">
                      </ion-img>
                      <ng-template #notValidate>
                        <ion-img float-right style="width: 30px; height: 30px;" src="assets/img/checkgreen.png">
                        </ion-img>
                      </ng-template>
                    </ion-label>
                  </ion-col>
    
                </ion-row>
              </ion-col>
    
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    

</ion-content>
