<ion-item>
    <ion-label>Fecha :</ion-label>
   <ion-datetime display-format="DDDD DD ,MMM YYYY" [(ngModel)]="myDate" (ionChange)="onDateChange($event)"
    picker-format="DDDD DD ,MMM YYYY" monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
    [dayShortNames]="customDayShortNames" doneText="Ok" cancelText="Cancelar" value=""></ion-datetime> 
  </ion-item>