<ion-content>
  <ion-card *ngIf="data">
      <img [src]="data.image">
      <ion-card-header>  
        <ion-grid>
          <ion-row>
            <ion-col text-end size="12">
                <ion-card-subtitle>{{data.name}}</ion-card-subtitle>
            </ion-col>
            <ion-col text-start size="12">
                <ion-card-title>{{data.nickName}}</ion-card-title>
            </ion-col>
            <ion-col text-end size="12">
              <ion-badge> {{data.nameGroup}}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-card-header>
      <ion-card-content>
        <!-- <ion-list>
          <ion-item *ngFor="let item of data.ListGroup">
            <ion-label>{{item.Date | datetime |async}}</ion-label>
          </ion-item>
        </ion-list> -->
  
      </ion-card-content>
    </ion-card>

<!-- <h1 *ngIf="detailsEmployeeShow">{{detailsEmployeeShow.name}}</h1> -->

</ion-content>