<ion-select #S [(ngModel)]="idDefault"  (ionChange)="changeValue($event)" interface="popover"  >
    <ion-select-option value="item2.id" *ngFor="let item2 of listMode">{{item2.name}}</ion-select-option>
  </ion-select>