<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>

    <ion-title text-center></ion-title>

  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>
    <img [src]="data.imgSanitizer">
    <ion-card-header>  
      <ion-grid>
        <ion-row>
          <ion-col text-end size="12">
              <ion-card-subtitle>{{data.name}}</ion-card-subtitle>
          </ion-col>
          <ion-col text-start size="12">
              <ion-card-title>{{data.nickName}}</ion-card-title>
          </ion-col>
          <ion-col text-end size="12">
            <ion-badge> {{data.nameOccupation}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of data.ListGroup">
          <ion-label>{{item.Date | datetime |async}}</ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>