
<ion-content fullscreen>
  <ion-card>
    <img src="../../../assets/img/lock.png" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="danger" >
        <h2 class="text-center">{{idRegister}}</h2>
        
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button expand="full" color="success" (click)="restartApp()">Reiniciar</ion-button>
     
    </ion-card-content>

  </ion-card>
</ion-content>

