<ion-header no-border>
  <ion-toolbar>
    <ion-title text-center >Actualizar App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Version :0.23</h1>
<ion-button (click)="initDownload()">Descargar </ion-button>
</ion-content>
