<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
        </ion-buttons>
    <ion-title text-center>Ponche en Linea .</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
 
  <!-- <h1 *ngIf="detailsEmployeeShow">{{detailsEmployeeShow.name}}</h1> -->

</ion-content>
