<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../../assets/img/plantabanano.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-content force-overscroll="false">
  <div class="page-centered-element">
    <div class="content">
      <h1>My awesome app</h1>
      <h5>My awesome catchphrase</h5>
      <div class="buttons-container">
        <ion-button>Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>