<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="primary" padding force-overscroll="false">
    <div class="page-centered-element">
      <div class="content">
        
         
        
        <!-- <h1>My awesome app</h1>
        <h5>My awesome catchphrase</h5> -->
        <div class="buttons-container">
            <form #form="ngForm" (ngSubmit)="login(form)">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                  <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                      <h2>--  S o f t F i n c  </h2>
                    </div>
                    <div padding>
                      <ion-item>
                        <ion-input name="email" type="email" placeholder="Usuario" ngModel required></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input name="password" type="password" placeholder="Clave" ngModel required></ion-input>
                      </ion-item>
                    </div>
                    <div padding>
                      <ion-button size="large" type="submit"  [disabled]="form.invalid" expand="block">Entrar</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
          <!-- <ion-button (click)="login()">Entrar</ion-button>
           -->
          </form>
        </div>
      </div>
    </div>


 
    
    
   
  </ion-content>