<ion-app>
  <ion-menu contentId="content">

    <ion-header >
    
      <ion-toolbar color="primary" >
          <ion-buttons slot="end">
          
            <ion-button (click)="showModalConfigGeneral();">
                <ion-icon name="options"></ion-icon>
            </ion-button>
            
          </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <div *ngFor="let item of pages">

        <!-- Standard Menu Item -->
        <ion-menu-toggle *ngIf="item.url">
          <ion-item button (click)="openPage(item.url,item.open)"   routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="item.icon" slot="start"></ion-icon>
            <ion-label>
              {{ item.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- Item with Children -->

        <ion-item button *ngIf="item.children?.length > 0" (click)="item.open = !item.open"
          [class.parent-active]="item.open" detail="false">
          <ion-icon slot="start" name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>

        <!-- Children List for clicked Item -->
        <ion-list *ngIf="item.open">
          <ion-menu-toggle>
            <ion-item button *ngFor="let sub of item.children" class="sub-item" (click)="openPage(sub.url,sub.open)" routerLinkActive="active">
              <ion-icon [name]="sub.icon" slot="start"></ion-icon>
              <ion-label>
                {{ sub.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>


  <!-- <ion-router-outlet></ion-router-outlet>  -->
</ion-app>