<ion-list>
    <ion-item *ngIf="showAll; else otro">
      <ion-label>Ocupacion :</ion-label>
      <ion-select #S   [(ngModel)]="idDefault" (ionChange)="changeValue(S.value)" interface="popover">
        <!-- <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option> -->
        <ion-select-option value="0"> -- Todos --</ion-select-option>
        <ion-select-option *ngFor="let item of listGroups" value="{{item.Id}}">{{item.Name}}</ion-select-option>
  
      </ion-select> 
  
  
    </ion-item>
  
    <ng-template #otro>
      <ion-item>
        <ion-label>Ocupacion :</ion-label>
        <ion-select #S [(ngModel)]="idDefault" (ionChange)="changeValue(S.value)" interface="popover">
          <!-- <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option> -->
          <!-- <ion-select-option value="0"> -- Todos --</ion-select-option> -->
          <ion-select-option *ngFor="let item of listGroups" value="{{item.Id}}">{{item.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ng-template>
  
  
  </ion-list>