<ion-header no-border>
    <ion-toolbar  >
        <ion-buttons slot="end">        
          <ion-button (click)="dismiss()" >
            Cerrar
          </ion-button>
          
        </ion-buttons>
      <ion-title>Configuracion Gral</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

 <ion-list>
<ion-item button *ngFor="let item of navigate " (click)="openModal(item.open)" detail>

 <ion-buttons>
    <ion-button slot="">
        <ion-icon [name]="item.icon"></ion-icon>
    </ion-button>
   
 </ion-buttons>

 
  <ion-label>{{item.name}}</ion-label>

</ion-item>


</ion-list>

</ion-content>