<ion-header #head no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" *ngIf="!isSearchOpened"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isSearchOpened">Listado ({{countList}})</ion-title>

    <ion-searchbar #search *ngIf="isSearchOpened" showCancelButton="always" debounce="1000"
      (ionCancel)="dismissSearchBar($event)" [(ngModel)]="inputSearchText" (ionChange)="inputSearchChanged($event)"
      placeholder="Ingrese Busqueda.." type="text" animated="true"></ion-searchbar>

    <ion-buttons slot="end">

      <ion-button *ngIf="!isSearchOpened" (click)="showSearchBar($event)">
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>

      <ion-button *ngIf="!isSearchOpened" (click)="showModalFormsAdd($event)">
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
      <!-- <ion-button *ngIf="!isSearchOpened" (click)="datePicker.open()">
            <ion-icon slot="end" name="calendar"></ion-icon>
          </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="head">

  <ion-list>
    <app-group-employees (emitChangeGroup)="groupChange($event)" (emitSendIdDefault)="getIdGroupDefault($event)"
      showAllOpcion={{sendShowAllGroup}}>
    </app-group-employees>

    <app-status (emitChangeGroup)="statusChange($event)" (emitSendIdDefault)="getIdStatusDefault($event)"
      showAllOpcion={{sendShowAllStatus}}>
    </app-status>


    <ion-item button *ngFor="let item of dataShow " (click)="showEditProfile(item.id)">
      <ion-avatar class="item-avatar" slot="start"  >
      
        <img [src]="item.image">
      </ion-avatar>
      <ion-grid class="ion-margin-start">
        <ion-row>
          <ion-col text-left size="12">
              <h4 >{{item.nickName | capitalize }}</h4>   
              <p text-center >{{item.name | capitalize }}</p>     
          </ion-col>

          <ion-col size="12">
          
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

</ion-content>