<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title text-center>-- Principal --</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <!-- <ion-button (click)="send('hola')">CLick</ion-button>
        -->
</ion-content>


 