<ion-header>
    <ion-toolbar>
        <ion-title>
            {{modeText || "- Agregrando Nuevo -"}}
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">Cancelar</ion-button>
        </ion-buttons>
        <!-- <ion-buttons slot="start">
            <ion-button (click)="prev()">
                <ion-icon slot="start" name="arrow-back"></ion-icon> Prev
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides #signupSlider pager>

        <ion-slide>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Complete Todos los Campos..</p>
            <ion-list lines="none">

                <form [formGroup]="slideOneForm">

                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" text-left>
                                <ion-label color="primary">Datos Generales..</ion-label>

                            </ion-col>
                            <ion-col size="12">

                                <ion-item>
                                    <ion-label position="floating">Nombre</ion-label>
                                    <ion-input formControlName="name" type="text"></ion-input>
                                </ion-item>

                            </ion-col>
                            <ion-col size="12">

                                <ion-item>
                                    <ion-label position="floating">Apellidos</ion-label>
                                    <ion-input formControlName="lastName" type="text">
                                    </ion-input>
                                </ion-item>

                            </ion-col>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label position="floating">Apodo</ion-label>
                                    <ion-input formControlName="nickName" type="text">
                                    </ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">

                                <ion-item>
                                    <ion-label position="floating">Documento</ion-label>
                                    <ion-input formControlName="document" type="text"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <ion-item>
                        <ion-label  position="floating">Nacionalidad</ion-label>
                        <ion-select  formControlName="nationality">
                            <ion-select-option value="1" checked="true">Dominicana</ion-select-option>
                            <ion-select-option value="2">Haitiana</ion-select-option>
                        </ion-select>
                    </ion-item>


                    <ion-list>
                        <ion-item>
                            <ion-label>Activado</ion-label>
                            <ion-toggle color="danger" formControlName="status" checked="true"></ion-toggle>
                        </ion-item>

                    </ion-list>

                </form>

            </ion-list>
        </ion-slide>

        <ion-slide>
            <form [formGroup]="slideOneForm">

                <ion-grid>
                    <ion-row>
                        <ion-col text-left size="12">
                            <ion-label color="primary">Contactos</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">Telefonos</ion-label>
                                <ion-input formControlName="contacts" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Direccion</ion-label>
                                <ion-input formControlName="address" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-textarea formControlName="email" type="text"></ion-textarea>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Nota</ion-label>
                                <ion-textarea formControlName="note" type="text"></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>
        <ion-slide>

            <ion-list lines="none">

                <form [formGroup]="slideTwoForm">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <ion-col text-left size="12">
                                    <ion-label color="primary">Laboral y Pago</ion-label>
                                </ion-col>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <!-- <ion-item>
                        <ion-label position="floating">Username</ion-label>
                        <ion-input formControlName="username" type="text"></ion-input>
                    </ion-item> -->


                    <app-group-employees showAllOpcion=0 getIdDefault={{idGroup}}
                        (emitChangeGroup)="groupChange($event)" (emitSendIdDefault)="getIdGroupDefault($event)">
                    </app-group-employees>

                    <app-ocupation-employees showAllOpcion=0 getIdDefault={{idOcupation}}
                        (emitChangeGroup)="ocupationChange($event)" (emitSendIdDefault)="getIdOcupationDefault($event)">
                    </app-ocupation-employees>


                    <app-pays-roll showAllOpcion=0 getIdDefault={{idPayRoll}} (emitChangeGroup)="payRollChange($event)"
                        (emitSendIdDefault)="getIdPayRollDefault($event)">
                    </app-pays-roll>

                    <app-currencys showAllOpcion=0 getIdDefault={{idCurrency}}
                        (emitChangeGroup)="currencyChange($event)" (emitSendIdDefault)="getIdCurrencyDefault($event)">
                    </app-currencys>

                    <ion-list>
                            <ion-item>
                                <ion-label>Ignorar Contrato Trabajo</ion-label>
                                <ion-toggle color="danger" formControlName="ignoreWorkContract" checked="true"></ion-toggle>
                            </ion-item>
    
                        </ion-list>


                    <ion-item>
                            <ion-label position="floating">Plan Seguro Social</ion-label>
                            <ion-select formControlName="idSegurityPolicy">
                                <ion-select-option value="1" checked="true"> Grupo #1</ion-select-option>
                                <ion-select-option value="2">Grupo #2</ion-select-option>
                                <ion-select-option value="3">Grupo #3</ion-select-option>
                            </ion-select>
                        </ion-item>


                    <ion-item>
                            <ion-label position="floating">Modo Verificar Asistencia</ion-label>
                            <ion-select formControlName="idModeCheckAssistance">
                                <ion-select-option value="1" checked="true">Movil</ion-select-option>
                                <ion-select-option value="2">Ponche</ion-select-option>
                                <ion-select-option value="3">Automatico</ion-select-option>
                            </ion-select>
                        </ion-item>

                    <!-- <ion-item>
                        <ion-label position="floating">Bio</ion-label>
                        <ion-textarea formControlName="bio"></ion-textarea>
                    </ion-item> -->

                </form>

            </ion-list>

            <ion-button expand="full" color="primary" (click)="save()">Agregar !</ion-button>
        </ion-slide>

    </ion-slides>

</ion-content>