// p {
//     font-size: 0.8em;
//     color: #d2d2d2;
// }

ion-slides {
	height: 100%;
}

ion-slide {
    display: block;
}

ion-label, .select-text {
    margin-left: 10px;
}

.invalid {
    border: 1px solid #ea6153;
}


ion-col{
    ion-input{
       width: 100%;
    }
 }
 
