<ion-header text-center no-border>
  <ion-toolbar>
    <ion-title>Aplicacion Bloqueada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="success" (click)="restartApp()">Reiniciar</ion-button>
     
</ion-content>
