<ion-header no-border color="primary">
  <ion-toolbar color="primary">
    <ion-title>Listado Lectores Huellas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item button *ngFor="let item of listDevices">
       
      <ion-buttons>
          <ion-button (click)="restartDevice(item)">
              <ion-icon  name="refresh-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
     

      <ion-buttons slot="start">
        <ion-label>{{item.Name}}</ion-label>     
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-badge>{{getModeDevice(item.Mode)}}</ion-badge>
      </ion-buttons>

      <ion-buttons slot="end">

        <ion-button (click)="showMenu(item)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
     
      </ion-buttons>


    </ion-item>
  </ion-list>

</ion-content>